.user {
  flex: 4;
  padding: 20px;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .addbtn {
      width: 80px;
      border: none;
      padding: 5px;
      background-color: teal;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
  }
}